nav ul li {
    align-items: center;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    font-weight: bold;
    line-height: 40px;
    justify-content: start;
}
nav ul li:hover, nav ul li:active, nav ul li.active {
    background-color: #f4f7f8;
    border-radius: 6px;
}
nav ul li span:nth-child(2) {
    flex-grow: 2;
}
.listIcon {
    border: 1px solid #ccc;
    width: 40px;
    height: 17px;
}